// Fonts
// Location of all the font-families and font-related css
// Best practices:
// 1. Avoid loading as many fonts as possible, e.x font styles, font families
// 2. Optimize the font, remove the characters set that the site won't use: languages
// 3. Include the unicode range in case you couldn't remove the characters. Included just Latin by default
// 4. Change fonts just changing the font-weight

@import 'vars';

$font-path: '../assets/fonts/' !default;

/*
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
950	Extra Black (Ultra Black)

@font-face {
    font-family: $faktum-font;
    src: url("#{$font-path}font-name-bold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
}
*/

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: $primary-font-name;
  src: url('#{$font-path}PPNeueMontreal-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $secondary-font-name;
  src: url('#{$font-path}Reckless-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
