.ImageAndTextAccordion {
  position: relative;
  overflow: hidden;
}

.item {
  position: relative;
  overflow: hidden;
  background-color: var(--grey-5);
  transition: background-color #{$transition-short};

  &.isHovering,
  &.isOpen {
    background-color: var(--grey-3);
  }
}

.inner {
  position: relative;

  @include bp(tablet) {
    @include off-grid;
  }
}

.leftSide {
  @include reset-button;
  position: relative;
  padding: var(--page-gutter);

  @include bp(tablet, true) {
    display: none;
  }
}

.imageContainerOuter {
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  width: calc(100% - calc(var(--page-gutter) * 2));
  margin: 0 auto;

  .item:not(.isOpen) & {
    @include bp(tablet) {
      cursor: pointer;
    }
  }

  @include bp(tablet) {
    width: 85%;
    margin: 0;
  }
}

.imageContainer__smallImagePosition {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: px(130);
  aspect-ratio: 1;
  z-index: 2;

  @include bp(tablet) {
    width: 35%;
    max-width: none;
  }
}

.imageContainer {
  @include position-100(absolute);
}

.imageAnimateContainer {
  @include position-100(absolute);
  transform-origin: left top;
  overflow: hidden;
}

.image {
  @include position-100(absolute);
  object-fit: cover;
  transform: scale(1.2);
}

.rightSide {
  position: relative;
  gap: var(--page-gutter);

  .item:not(.isOpen) & {
    @include bp(tablet) {
      cursor: pointer;
    }
  }

  @include bp(desktop) {
    display: grid;
    grid-template-columns: #{px(380)} minmax(0, 1fr);
  }
}

.titleContainer {
  @include reset-button;
  padding: var(--page-gutter);
  width: 100%;
  height: px(120);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include bp(tablet) {
    display: block;
    height: min-content;
  }
}

.title {
  @include font-h10;
  user-select: none;
}

.rightContent {
  padding: var(--page-gutter);
  position: relative;
  display: flex;
  flex-direction: column;
}

.description {
  @include font-h10;
  max-width: px(540);
  margin-top: var(--page-gutter);
  margin-bottom: px(140);

  @include bp(tablet) {
    margin-top: 0;
    margin-bottom: var(--page-gutter);
    min-height: px(350);
  }

  @include bp(desktop) {
    min-height: px(450);
    width: calc(100% - #{px(160)});
  }
}

.tinyLine {
  @include bp(desktop, true) {
    display: none !important;
  }
}

.bottomContent {
  margin-top: auto;
}

.bigNumberContainer {
  @include item-list-grid-50-50;
  position: relative;
  align-items: center;

  @include bp(tablet) {
    align-items: flex-end;
  }

  .hasItemListItems & {
    margin-bottom: var(--item-list-grid-padding);
    padding-bottom: var(--item-list-grid-padding);
  }
}

.bigNumber {
  @include font-h4;
  line-height: 0.8;
}

.bigNumberSubtitle {
  @include font-body-4;
}

.plusMinusButton {
  @include reset-button;
  position: absolute !important;
  padding: var(--page-gutter);
  top: 0;
  right: 0;
  z-index: 5;
}
