.image {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.25s;
  background-color: var(--loading-image-bg);

  &.animated {
    opacity: 0;
  }

  &.isLoaded {
    opacity: 1;
  }

  &.isCover {
    object-fit: cover;
    object-position: var(--object-position);
  }
}
