.ExpandingImageAndContent {
  position: relative;

  --mobile-image-aspect-ratio: #{360 / 435};
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;

  @include bp(tablet) {
    @include off-grid;
    min-height: px(600);
  }

  @include bp(desktop) {
    min-height: px(737);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--page-gutter);
  position: relative;
  order: 2;

  @include bp(tablet) {
    order: 1;
  }
}

.titleText {
  @include font-h10;
  margin-bottom: px(44);
}

.description {
  @include rich-text-base-styling;
  @include font-body-4;
  color: var(--dark-green-70);
  max-width: px(420);
}

.ctaContainer {
  margin-top: px(50);

  @include bp(tablet) {
    margin-top: px(75);
  }
}

.itemList {
  margin-top: px(50);

  @include bp(tablet) {
    padding-top: var(--page-gutter);
    margin-top: auto;
  }
}

.imageContainer {
  position: relative;
  padding: var(--page-gutter);
  order: 1;
  max-width: px(600);
  min-height: px(450);
  max-height: px(650);
  height: 120svw;

  @include bp(tablet) {
    height: 100%;
    min-height: 0;
    max-height: none;
    max-width: none;
    order: 2;
    aspect-ratio: initial;
  }
}

.imageContainerInner {
  position: relative;
  height: 100%;
  width: 100%;
}

.smallImageContainer {
  position: absolute;
  width: 40%;
  aspect-ratio: var(--image-aspect-ratio);
  z-index: 2;
  transform-origin: left top;
  overflow: hidden;
  background-color: var(--green-pale);
}

.bigImageContainer {
  @include position-100(absolute);
}

.media {
  @include position-100(absolute);
  object-fit: cover;
}
