.CaseStudyScroller {
  margin-top: -100svh;
  color: var(--white);
  position: relative;
  z-index: 2;
}

.listDescription {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  padding: var(--page-gutter-2x) var(--page-gutter);
  height: 100svh;
  pointer-events: none;
  max-width: 100svw;
  width: 100%;
  opacity: 0;

  @include bp(tablet) {
    padding: var(--page-gutter);
    max-width: 33.333333%;
  }
}

.listDescriptionText {
  @include font-h10;
  color: var(--white);
  width: 100%;
  max-width: px(480);
}

.caseStudyItems {
  height: 100%;
  margin-top: -100svh;
}

.CaseStudyItem {
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100vh; // vh for mobile chrome

  [data-browser='safari'] & {
    height: 100svh;
  }

  &.active {
    pointer-events: all;
  }
}

.gridOverlay {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10;
  margin-bottom: -100svh;
}

.bgOverlay {
  @include position-100(absolute);
  z-index: 2;
  background-color: var(--black);
}

.fadeOutBg {
  @include position-100(absolute);
  z-index: 3;
  background-color: var(--black);
  opacity: 0;
}

.bgContainerNonMasked,
.bgContainer {
  @include gpu;
  @include position-100(absolute);
  background-color: var(--green-dark);
}

.bgContainerNonMasked {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

.bgContainer {
  @include gpu;
  @include position-100(absolute);
  z-index: 1;

  --top-left-y: 100%;
  --top-right-y: 100%;
  --bottom-left-y: 100%;
  --bottom-right-y: 100%;

  &[data-bg-index='0'] {
    clip-path: polygon(
      0% var(--top-left-y),
      33.33333333% var(--top-right-y),
      33.33333333% var(--bottom-right-y),
      0% var(--bottom-left-y)
    );
  }

  &[data-bg-index='1'] {
    clip-path: polygon(
      33.33333333% var(--top-left-y),
      66.66666666% var(--top-right-y),
      66.66666666% var(--bottom-right-y),
      33.33333333% var(--bottom-left-y)
    );
  }

  &[data-bg-index='2'] {
    clip-path: polygon(
      66.66666666% var(--top-left-y),
      100% var(--top-right-y),
      100% var(--bottom-right-y),
      66.66666666% var(--bottom-left-y)
    );
  }
}

.imageContainer {
  @include position-100(absolute);
}

.image {
  @include position-100(absolute);
  object-fit: cover;
}

.textContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0;
  top: auto;
  bottom: 0;
  z-index: 4;
  height: calc(50svh + #{px(100)});
  padding-bottom: var(--page-gutter-2x);

  @include bp(tablet) {
    top: 50%;
    bottom: auto;
    @include grid-thirds;
    padding-bottom: 0;
    height: auto;
  }
}

.titleContainer {
  padding: var(--page-gutter-2x) var(--page-gutter);

  @include bp(tablet) {
    padding: calc(var(--page-gutter) * 0.6) var(--page-gutter) var(--page-gutter);
  }
}

.title {
  @include font-h7;
}

.descriptionContainer {
  padding: var(--page-gutter-2x) var(--page-gutter);

  @include bp(tablet) {
    padding: calc(var(--page-gutter) * 0.6) var(--page-gutter) var(--page-gutter);
  }
}

.description {
  @include font-body-7;
  width: 100%;
  max-width: px(266);
}

.ctaContainer {
  @include gpu;
  opacity: 0;
  position: relative;
  margin-top: auto;
  border-bottom: 1px solid var(--white);

  @include bp(tablet, true) {
    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background-color: var(--white);
      position: absolute;
      top: 0;
      right: calc(33.3333svw - 1px);
    }
  }

  @include bp(tablet) {
    margin-top: 0;
    border-bottom: none;
  }
}
