/* stylelint-disable-next-line block-no-empty */
.DownArrowAnimation {
  width: var(--down-arrow-animation-width);
}

.iconContainer {
  display: block;
  width: 100%;
}

.icon {
  display: block;
  width: 100%;
}
