/* stylelint-disable-next-line block-no-empty */
.Spacer {
  &:not([data-spacer-line-width='full']) {
    padding: 0 var(--page-gutter);
  }
}

.inner {
  .Spacer:not([data-spacer-line-width='full']) & {
    margin: 0 auto;
    max-width: var(--section-max-width);
  }
}

.line {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba($black, 0.2);
}
