.ul,
.ol {
  padding-left: 1em;
}

.ol li {
  list-style: decimal;
}

.li {
  position: relative;
  padding-left: 0.5em;
  list-style: square;

  &:not(:last-child) {
    margin-bottom: 0.2em;
  }
}

.buttonLink {
  display: block;
  box-sizing: border-box;
  margin: px(24) 0;

  .button {
    display: inline-flex;
  }
}

.richTextImageBlock {
  margin: px(42) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.blockquote {
  padding-left: px(64);
  position: relative;
  margin: 3em 0;
}

.blockquoteIcon {
  position: absolute;
  left: 0;
  width: px(15);
  top: 0.4em;
}

.blockquoteAuthor {
  font-size: 0.8em;
}
