/* stylelint-disable-next-line block-no-empty */
.SplitText {
  opacity: 0;

  &.rendered,
  &.isCompletedAnimationIn {
    opacity: 1;
  }
}

.line,
.word,
.char {
  transform: translateY(110%);

  .isCompletedAnimationIn & {
    transform: translateY(0);
  }

  & > * {
    &:empty {
      display: none;
    }
  }

  // .isRichText & {
  //   @include rich-text-base-styling;
  // }
}

/* Target mask elements within SplitText container */
.SplitText div[class*='mask'] {
  opacity: 1;
}
