.container {
  @include reset-button;
  @include position-100(absolute);
  cursor: default;
  pointer-events: none;

  &.videoPlayer {
    pointer-events: all;
  }
}

.image {
  @include fit-image;
}

.overlay {
  @include position-100;
  background-color: rgba($black, var(--overlay-darkness));
  pointer-events: none;
}
