/* stylelint-disable-next-line block-no-empty */
.MediaSection {
  height: calc(var(--section-height) + 25svh);
  position: relative;
  background-color: var(--black);
  color: var(--grey-5);
  margin-top: calc(var(--section-height) * -1);

  --section-height: calc(var(--locations-outro-distance) + 100svh);

  @include bp(tablet) {
    height: calc(var(--section-height) + 100svh);
  }
}

.stickyContainer {
  width: 100%;
  top: 0;
  left: 0;
  position: sticky;
  height: 100vh;

  [data-browser='safari'] & {
    height: 100svh;
  }
}

.lineContainer {
  @include position-100(absolute);
  pointer-events: none;
  z-index: 4;
}

.verticalLine {
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  background-color: var(--our-story-case-study-line-color);
  left: 50%;
  bottom: 0;
  position: absolute;

  @include bp(tablet) {
    left: 33.3333333%;
  }
}

.horizontalLine {
  width: 100%;
  height: 1px;
  background-color: var(--our-story-case-study-line-color);
  top: calc(50% - var(--page-gutter));
  left: 0;
  position: absolute;
}

.contentContainer {
  @include position-100(absolute);
}

.bgImageLeftSide,
.bgImageRightSide {
  z-index: 1;
}

.bgImageLeftSide {
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);

  @include bp(tablet) {
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
  }
}

.bgImageRightSide {
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);

  @include bp(tablet) {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  }
}

.media {
  z-index: 3;
  overflow: hidden;
  position: relative;

  .clickedPlay & {
    pointer-events: all !important;
  }

  [data-line] {
    --line-color: var(--our-story-case-study-line-color) !important;
  }
}

.textContent {
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
  padding-top: calc(var(--page-gutter) * 0.5);
  left: 0;
  width: 100%;
  z-index: 4;
  pointer-events: none;

  @include bp(tablet) {
    transform: none;
    top: calc(50% - var(--video-controls-height) / 2);
  }
}

.textContentInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include bp(tablet) {
    @include grid-thirds;
  }
}

.title {
  @include font-h7;
  padding-left: var(--page-gutter);
  white-space: pre-line;
  position: relative;
  width: 100%;
  padding-bottom: var(--page-gutter-2x);
  margin-bottom: var(--page-gutter-2x);

  @include bp(tablet) {
    padding-bottom: 0;
    margin-bottom: 0;
    width: auto;
  }

  &::after {
    @include bp(tablet, true) {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(var(--page-gutter) * -1);
      width: calc(100% + var(--page-gutter));
      height: 1px;
      background-color: var(--our-story-case-study-line-color);
    }
  }
}

.description {
  @include rich-text-base-styling;
  @include font-body-7;
  width: 100%;
  max-width: px(237);
  padding-left: var(--page-gutter);

  [data-link] {
    color: var(--grey-5) !important;
  }
}
