.scrollContainer {
  position: relative;
  width: 100%;

  [data-is-body-scroller='false'] & {
    height: 100svh;
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.scrollContainerInner {
  display: block;
}
